{{- if (eq .chezmoi.os "darwin") -}}

#!/bin/sh
# Stop builtin ssh agent
sudo launchctl stop com.openssh.ssh-agent
# Install packages
brew bundle --file=/dev/stdin <<EOF
# specify a directory to install
cask_args appdir: '/Applications'
# install packages
brew 'bat'
brew 'chezmoi'
brew 'curl'
brew 'eza'
brew 'fzf'
brew 'git'
brew 'jq'
brew 'mise'
brew 'nixfmt'
brew 'openssh'
brew 'starship'
brew 'zoxide'
cask 'adobe-acrobat-reader'
cask 'amazon-workspaces'
cask 'bitwarden'
cask 'caffeine'
cask 'firefox'
cask 'google-chrome'
cask 'font-jetbrains-mono-nerd-font'
cask 'kitty'
cask 'microsoft-edge'
cask 'rectangle'
cask 'winbox'
cask 'zed'
cask 'zerotier-one'
EOF

{{ end -}}
