{{- if and (or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux")) -}}
#!/bin/sh
{{- $extensions := list
     "catppuccin.catppuccin-vsc"
     "waderyan.gitblame"
     "oderwat.indent-rainbow"
     "bbenoist.nix"
     "hashicorp.terraform"
     "tim-koehler.helm-intellisense"
     "github.copilot"
     "github.copilot-chat" }}

set -euf
SOURCE_SETTINGS="{{ .chezmoi.sourceDir }}/home/dot_config/vscode/settings.json"
case "{{ .chezmoi.os }}" in
  linux)
    TARGET_DIR="$HOME/.config/vscode"
    ;;
  darwin)
    TARGET_DIR="$HOME/Library/Application Support/Code/User"
    ;;
esac

TARGET_SETTINGS="$TARGET_DIR/settings.json"
mkdir -p "$TARGET_DIR"
cp "$SOURCE_SETTINGS" "$TARGET_SETTINGS"

{{ range $extensions -}}
code --force --install-extension {{ . }}
{{ end -}}

{{ end -}}
