[Desktop Entry]
Version=1.0
Type=Application
Name=Notion
Comment=Open Notion
Exec=xdg-open https://www.notion.so/
Icon=notion
Terminal=false
Categories=Office;Network;
StartupNotify=true
